-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('azubi', 'ausbildungsbeauftragter', 'ausbilder', 'hr', 'admin');

-- CreateEnum
CREATE TYPE "ReportStatus" AS ENUM ('entwurf', 'eingereicht', 'in_pruefung', 'visiert', 'archiviert');

-- CreateEnum
CREATE TYPE "ReportTyp" AS ENUM ('betrieb', 'berufsschule', 'schulung');

-- CreateEnum
CREATE TYPE "AbwesenheitTyp" AS ENUM ('urlaub', 'krank', 'berufsschule');

-- CreateEnum
CREATE TYPE "AbwesenheitQuelle" AS ENUM ('manuell', 'personio', 'ical');

-- CreateEnum
CREATE TYPE "FeedbackTyp" AS ENUM ('abteilungsbewertung', 'azubi_feedback');

-- CreateEnum
CREATE TYPE "AiDocumentStatus" AS ENUM ('importiert', 'vektorisiert', 'fehler');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "azubi_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "role" "Role" NOT NULL,

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "abteilungen" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "kurzzeichen" TEXT,
    "beschreibung" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "abteilungen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "einsatz" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "abteilung_id" TEXT NOT NULL,
    "von" TIMESTAMP(3) NOT NULL,
    "bis" TIMESTAMP(3) NOT NULL,
    "skill_level" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "einsatz_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "frameworks" (
    "id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "lernfeld" TEXT NOT NULL,
    "kompetenz" TEXT NOT NULL,
    "beschreibung" TEXT,
    "quelle" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "frameworks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "courses" (
    "id" TEXT NOT NULL,
    "framework_id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "beschreibung" TEXT,
    "lernziele" TEXT[],
    "theorie" TEXT,
    "freigegeben" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "courses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tasks" (
    "id" TEXT NOT NULL,
    "framework_id" TEXT NOT NULL,
    "course_id" TEXT,
    "titel" TEXT NOT NULL,
    "beschreibung" TEXT,
    "musterloesung" TEXT,
    "freigegeben" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reports" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "typ" "ReportTyp" NOT NULL,
    "kalenderwoche" INTEGER NOT NULL,
    "jahr" INTEGER NOT NULL,
    "datum_von" TIMESTAMP(3) NOT NULL,
    "datum_bis" TIMESTAMP(3) NOT NULL,
    "inhalt_markdown" TEXT NOT NULL,
    "status" "ReportStatus" NOT NULL DEFAULT 'entwurf',
    "signiert_von" TEXT,
    "signiert_am" TIMESTAMP(3),
    "archiviert_am" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_tasks" (
    "id" TEXT NOT NULL,
    "report_id" TEXT NOT NULL,
    "task_id" TEXT NOT NULL,
    "kommentar" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "report_tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_comments" (
    "id" TEXT NOT NULL,
    "report_id" TEXT NOT NULL,
    "author_id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "art" TEXT NOT NULL DEFAULT 'bemerkung',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "report_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_documents" (
    "id" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "quelle" TEXT,
    "inhalt" TEXT NOT NULL,
    "status" "AiDocumentStatus" NOT NULL DEFAULT 'importiert',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_document_chunks" (
    "id" TEXT NOT NULL,
    "document_id" TEXT NOT NULL,
    "inhalt" TEXT NOT NULL,
    "embedding" DOUBLE PRECISION[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_document_chunks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zertifikate" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "aussteller" TEXT NOT NULL,
    "erworben_am" TIMESTAMP(3) NOT NULL,
    "dokument_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "zertifikate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "abwesenheiten" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "typ" "AbwesenheitTyp" NOT NULL,
    "quelle" "AbwesenheitQuelle" NOT NULL DEFAULT 'manuell',
    "von" TIMESTAMP(3) NOT NULL,
    "bis" TIMESTAMP(3) NOT NULL,
    "notiz" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "abwesenheiten_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "checklisten" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "erledigt" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "checklisten_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "checklist_items" (
    "id" TEXT NOT NULL,
    "checklist_id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "erledigt" BOOLEAN NOT NULL DEFAULT false,
    "reihenfolge" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "checklist_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback" (
    "id" TEXT NOT NULL,
    "von_user_id" TEXT NOT NULL,
    "an_user_id" TEXT,
    "abteilung_id" TEXT,
    "typ" "FeedbackTyp" NOT NULL,
    "fachkompetenz" INTEGER,
    "softskills" INTEGER,
    "kommentar" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wiki_pages" (
    "id" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "kategorie" TEXT,
    "inhalt_markdown" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "wiki_pages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "grades" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "fach" TEXT NOT NULL,
    "note" DOUBLE PRECISION NOT NULL,
    "zeitraum" TEXT NOT NULL,
    "zeugnis_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "grades_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "badges" (
    "id" TEXT NOT NULL,
    "schluessel" TEXT NOT NULL,
    "titel" TEXT NOT NULL,
    "beschreibung" TEXT,
    "icon" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "badges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_badges" (
    "id" TEXT NOT NULL,
    "azubi_id" TEXT NOT NULL,
    "badge_id" TEXT NOT NULL,
    "earned_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_badges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_AbteilungVerantwortliche" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_AbteilungVerantwortliche_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_azubi_id_key" ON "users"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_users_azubi_id" ON "users"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_user_roles_user_id" ON "user_roles"("user_id");

-- CreateIndex
CREATE INDEX "idx_user_roles_role" ON "user_roles"("role");

-- CreateIndex
CREATE INDEX "idx_einsatz_azubi_id" ON "einsatz"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_einsatz_abteilung_id" ON "einsatz"("abteilung_id");

-- CreateIndex
CREATE INDEX "idx_einsatz_von_bis" ON "einsatz"("von", "bis");

-- CreateIndex
CREATE INDEX "idx_framework_lernfeld" ON "frameworks"("lernfeld");

-- CreateIndex
CREATE INDEX "idx_course_framework_id" ON "courses"("framework_id");

-- CreateIndex
CREATE INDEX "idx_course_freigegeben" ON "courses"("freigegeben");

-- CreateIndex
CREATE INDEX "idx_task_framework_id" ON "tasks"("framework_id");

-- CreateIndex
CREATE INDEX "idx_task_course_id" ON "tasks"("course_id");

-- CreateIndex
CREATE INDEX "idx_report_azubi_id" ON "reports"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_report_status" ON "reports"("status");

-- CreateIndex
CREATE INDEX "idx_report_jahr_kw" ON "reports"("jahr", "kalenderwoche");

-- CreateIndex
CREATE INDEX "idx_report_task_report_id" ON "report_tasks"("report_id");

-- CreateIndex
CREATE INDEX "idx_report_task_task_id" ON "report_tasks"("task_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_report_task" ON "report_tasks"("report_id", "task_id");

-- CreateIndex
CREATE INDEX "idx_report_comment_report_id" ON "report_comments"("report_id");

-- CreateIndex
CREATE INDEX "idx_ai_chunk_document_id" ON "ai_document_chunks"("document_id");

-- CreateIndex
CREATE INDEX "idx_zertifikat_azubi_id" ON "zertifikate"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_abwesenheit_azubi_id" ON "abwesenheiten"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_abwesenheit_von_bis" ON "abwesenheiten"("von", "bis");

-- CreateIndex
CREATE INDEX "idx_checklist_azubi_id" ON "checklisten"("azubi_id");

-- CreateIndex
CREATE INDEX "idx_checklist_item_checklist_id" ON "checklist_items"("checklist_id");

-- CreateIndex
CREATE INDEX "idx_feedback_von_user_id" ON "feedback"("von_user_id");

-- CreateIndex
CREATE INDEX "idx_feedback_an_user_id" ON "feedback"("an_user_id");

-- CreateIndex
CREATE UNIQUE INDEX "wiki_pages_slug_key" ON "wiki_pages"("slug");

-- CreateIndex
CREATE INDEX "idx_wiki_kategorie" ON "wiki_pages"("kategorie");

-- CreateIndex
CREATE INDEX "idx_grade_azubi_id" ON "grades"("azubi_id");

-- CreateIndex
CREATE UNIQUE INDEX "badges_schluessel_key" ON "badges"("schluessel");

-- CreateIndex
CREATE INDEX "idx_user_badge_azubi_id" ON "user_badges"("azubi_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_user_badge" ON "user_badges"("azubi_id", "badge_id");

-- CreateIndex
CREATE INDEX "_AbteilungVerantwortliche_B_index" ON "_AbteilungVerantwortliche"("B");

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "einsatz" ADD CONSTRAINT "einsatz_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "einsatz" ADD CONSTRAINT "einsatz_abteilung_id_fkey" FOREIGN KEY ("abteilung_id") REFERENCES "abteilungen"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "courses" ADD CONSTRAINT "courses_framework_id_fkey" FOREIGN KEY ("framework_id") REFERENCES "frameworks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_framework_id_fkey" FOREIGN KEY ("framework_id") REFERENCES "frameworks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "courses"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reports" ADD CONSTRAINT "reports_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "report_tasks" ADD CONSTRAINT "report_tasks_report_id_fkey" FOREIGN KEY ("report_id") REFERENCES "reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "report_tasks" ADD CONSTRAINT "report_tasks_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "report_comments" ADD CONSTRAINT "report_comments_report_id_fkey" FOREIGN KEY ("report_id") REFERENCES "reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "report_comments" ADD CONSTRAINT "report_comments_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_document_chunks" ADD CONSTRAINT "ai_document_chunks_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "ai_documents"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zertifikate" ADD CONSTRAINT "zertifikate_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "abwesenheiten" ADD CONSTRAINT "abwesenheiten_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "checklisten" ADD CONSTRAINT "checklisten_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "checklist_items" ADD CONSTRAINT "checklist_items_checklist_id_fkey" FOREIGN KEY ("checklist_id") REFERENCES "checklisten"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback" ADD CONSTRAINT "feedback_von_user_id_fkey" FOREIGN KEY ("von_user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback" ADD CONSTRAINT "feedback_an_user_id_fkey" FOREIGN KEY ("an_user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback" ADD CONSTRAINT "feedback_abteilung_id_fkey" FOREIGN KEY ("abteilung_id") REFERENCES "abteilungen"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "grades" ADD CONSTRAINT "grades_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_badges" ADD CONSTRAINT "user_badges_azubi_id_fkey" FOREIGN KEY ("azubi_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_badges" ADD CONSTRAINT "user_badges_badge_id_fkey" FOREIGN KEY ("badge_id") REFERENCES "badges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AbteilungVerantwortliche" ADD CONSTRAINT "_AbteilungVerantwortliche_A_fkey" FOREIGN KEY ("A") REFERENCES "abteilungen"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AbteilungVerantwortliche" ADD CONSTRAINT "_AbteilungVerantwortliche_B_fkey" FOREIGN KEY ("B") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

